body {
 font-family: Verdana;
 font-size: 15px;
 background-color: white;
 color: black;
 margin: 0 !important;
}

#container {
 width: 1000px;
 margin-left: auto;
 margin-right: auto;
 background-color: white;
}

.tytuł {
 width: 100%;
 margin: 0%;
 text-align: center;
 padding: 0%;
 margin-left: 0px;
 margin-right: 0px;
 background-color: silver;
}

h1 {
 text-align: center;
 letter-spacing: 3px;
}

.nav { 
	width: 100%;
	background-color: silver;
	text-align: center;
	margin-top: 10px;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: black;
	text-decoration: none;
	display: block;
}

ol > li:first-child
{
	border-left: 1px dashed #751b1b;
}

ol > li
{
	float: left;
	width: 300px;
	height: 40px;
	border-right: 1px dashed #751b1b;
	display: block;
	text-align: center;
	display: inline-block;
}

ol > li:hover
{
	background-color: blue;
	color: lightblue;
}

ol > li:hover > a
{
	background-color: blue;
	color: lightblue;
}

ol > li > ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

ol > li:hover > ul
{
	display: block;
}

ol > li > ul > li
{
	background-color:#cf6969;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #751b1b;
	clear: boath;
}

ol > li > ul > li:hover
{
	background-color: blue;
}

ol > li > ul > li:hover > a
{
	color: darkblue;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  }
  
.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px 0px;
  font-size: 20px;
  border-collapse: collapse;
}

.grid2-container {
  position: relative;
  display: grid;
  grid-template-columns: 20px, 20px, auto;
  padding: 5 px;
  float: left;
  background-color: white;
}
  
.grid2-container > div {
  position: relative;
  background-color: white;
  text-align: center;
}

#harmonogram {
	float: center;
	text-align: center;
}

#ws {	/* Wskazówka powyżej formularza kontaktowego */
	float:center;
	text-align: center;
}

#kontakt {
  margin: 0 auto;
  width: 400px;
  /* Ramka formularza */
  padding: 1em;
  border: 1px solid silver;
  border-radius: 0.5em;
  position: relative;
}



#kontakt label {
  /* Rozmiar pola i jego wygląd */
  display: inline-block;
  width: 90px;
  text-align: right;
}

#kontakt textarea {
  font: 1em sans-serif;

  width: 300px;
  box-sizing: border-box;

  border: 1px solid #999;
}

#kontakt input:focus,
textarea:focus {
  border-color: silver;
}

#kontakt textarea {
  vertical-align: top;
  height: 10em;
}

#kontakt .button 
  padding-left: 90px;
}

#kontakt button {
  margin-left: 0.5em;
}

footer { /* Stopka rozjeżdza się. Do poprawy */ 
	position: absolute;
	bottom: 0;
	height: 10%;
	width: 100%;
	background-color: silver;
	text-align: center;
	font-family: Verdana;
	font-size: 20px;
	margin: 0px;
	margin-top: 0px;
}

